<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style type="text/css">
        #topmenu , #submenu{
            margin-bottom: 0px;
        }

        #topmenu{
            padding: 10px 0px 10px 0px;
        }

        .menu-item{
            padding: 0px 0px 0px 0px;
        }

        .removePadd>li>a{padding:5px!important;}

        .navbar{
            min-height: 30px;
        }
        .nav-tabs li a{background-color: #f8f8f8; color:#333}
        .nav-tabs li.active a{background-color: #428bca; color:#fff;}
        .nav-tabs li.focus a{background-color: #428bca; color:#fff;}
        .tab-content {
            color : white;
            background-color: #428bca;
            padding : 5px 15px;
        }

        #form-button{
            margin-bottom: 5px;
        }

        .main{
            margin-top: 30px;
        }

        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 150px;
            background-color: #c6c6c6;
        }

        .well{
            background-color: #428bca;
            color: #eeeeee;
        }

        @media screen and (max-width: 1000px) and (min-width: 520px) {
            footer {
                position: relative;
                margin-top: 50px;
                bottom: 0;
                width: 100%;
                height: 150px;
                background-color: #c6c6c6;
            }

            input {
                margin: 10px;
            }
        }
    </style>
</head>

<body onload="loading()">

<div class="navbar navbar-default navbar-static-top hidden-xs" id="topmenu">
    <div class="container">
        <div class="col-sm-offset-4 col-sm-4">
            <a href="#" class="navbar-brand hover-class" style="font-size:24px; margin-left:25px;"> Employee Rewards </a><!--end of navbar-brand-->
        </div>

    </div><!-- end of navbar-container -->
</div><!-- end of navbar -->

<div class="navbar navbar-default navbar-static-top" id="submenu">
    <div class="container">
        <div class="col-sm-offset-4 col-sm-4 hidden-sm hidden-md hidden-lg">
            <a href="/admin" class="navbar-brand hover-class" style="font-size:24px;"> Employee Rewards </a><!--end of navbar-brand-->
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="col-sm-2"></div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav removePadd col-sm-8 ">
                <li class="col-xs-12 col-sm-3 menu-item" style="text-align:center;">
                    <a href="/admin"><span class="glyphicon glyphicon-education"></span> Employee</a>
                </li>
                <li class="col-xs-12 col-sm-3 dropdown menu-item active" style="text-align:center;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-gift"></span> Rewards <span class="caret"></span></a>

                    <ul class="dropdown-menu" style="margin-left:15px;" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="/reward">Add Rewards</a></li>
                        <li><a tabindex="-1" href="/view">View Rewards</a></li>
                    </ul>
                </li>
                <li class="col-xs-12 col-sm-3 menu-item" style="text-align:center;"><a href="/result"><span class="glyphicon glyphicon-folder-open"></span> Reports</a></li>
                <li class="col-xs-12 col-sm-3 dropdown menu-item" style="text-align:center;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="margin-left:10px;" role="menu" aria-labelledby="dLabel">
                        <li><form method="post" action="/logout"><button type="submit" style="margin-left: 30px;" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-power"></span> Signout
                                </button></form></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="main row">
        <div class="well col-sm-offset-3 col-sm-6">
            <div class="Rewardform">

                <h3 id="addTitle" style="paddin:0px 40px 10px 0px;">Add Rewards :</h3>
                <form id="addForm" method="post" action="/addr">
                    <div class="form-group">
                        <div class="col-sm-4 col-xs-12">
                            <label>Employee ID :</label><br>
                            <% if(user.count == 0){ %>
                            <select class="form-control">
                                <option value="0">0</option>
                            </select>
                            <% } else { %>
                            <select id="empid" oninput="fill()" class="form-control" name="id">
                                <option value="0">0</option>
                                <% for(var item in user) { %>
                                <option value="<%= user[item].id  %>"><%= user[item].id %></option>
                                <% } %>
                            </select>
                            <% } %>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label>FirstName :</label><br>
                            <input type="text" id="fname" name="fname" class="form-control" Firstname="lastName" placeholder="Last Name" readonly>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label>LastName :</label><br>
                            <input type="text" id="lname" class="form-control" Lastname="lastName" placeholder="Last Name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-sm-12 col-xs-12 form-item">
                                <label>Points : </label><br>
                                <select name="points" class="form-control">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select><br>
                            </div>
                            <div class="col-sm-12 col-xs-12 form-item">
                                <label>Show to user :</label><br>
                                <select class="form-control" name="Show">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select><br>
                            </div>
                            <div class="col-sm-12 col-xs-12 form-item">
                                <label>Date :</label><br>
                                <input style="color:#333;" type="date" name="date">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <br>
                            <label>Reason :</label><br>
                            <textarea class="form-control" rows="5" cols="53" name="reason"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" id="form-button">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button id="AddBtn" type="submit" class="btn btn-success">Add</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <img class="img-rounded" style="border-radius : 100px; margin-left:150px; margin-top:20px;" height="75px" width="75px" src="images/logo.jpg" alt="logo">
                <div class="col-xs-12 col-sm-12">
                    <p><span class="glyphicon glyphicon-copyright-mark"></span>  All the rights for this sights are reserved 2016 !</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/javascripts/rscript.js"></script>

</body>

</html>